.produto{
  display: flex;
  gap: 30px;
}

h1{
  font-size: 2rem;
  margin-top: 0;
}

.produto div{
  flex: 1;
}

.produto_preco{
  background-color: greenyellow;
  padding: 7px 10px;
  border-radius: 2px;
  color: green;
  font-size: 1.2rem;
}

.produto_img img{
  border-radius: 10px;
  margin-bottom: 30px;
}

.produto_texto{
  font-size: 1.2rem;
  width: 70%;
}